input {
  padding: 5px;
}

.default {
	border-radius: 20px;
  border: 1px solid var(--gray);
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.search {
  background: var(--gray);
  width: 1150px;
  height: 41px;
  border: 2px solid var(--gray);
  border-radius: 7px 0px 0px 7px;
  padding: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  background: var(--gray);
}