.sumbit {
  min-height: 45px;
	padding: 10px 15px;
  border-radius: 20px;
  border: 0;
  background: var(--orange);
  color: var(--dark);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:active {
    box-shadow: none;
  }
}

.login {
  padding: 10px 15px;
  border-radius: 20px;
  border: 0;
  background: var(--white);
  color: var(--teal);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:active {
    box-shadow: none;
  }
}

.search {
  background: var(--gray);
  width: 40px;
  height: 41px;
  border: 2px solid var(--gray-dark);
  border-radius: 0px 7px 7px 0px;
}

.default {
  background: var(--gray);
  min-width: 50px;
  color: var(--dark);
  font-weight: bold;
  border: none;
  width: 267px;
  height: 45px;
  border-radius: 14px;
}