.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	.title {
		font-size: 44px;
		text-align: center;
	}

	.container {
		display: flex;

		.info {
			display: flex;
			justify-content: space-between;
			width: 900px;
			gap: 20px;
			align-items: flex-start;

			.avatar {
				width: 212px;
				height: 212px;
				border-radius: 50%;
				background: var(--orange);
			}

			.list {
				list-style: none;
				font-size: 32px;

				.desc {
					text-align: center;
				}
			}
		}
	}
}
