.container {
	margin-top: 400px;
	width: 100%;
	height: auto;
	box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.55);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 5px;
	gap: 20px;

	.card {
		width: 1239px;
		height: 525px;
		background: var(--white);
		border-radius: 5px;
		box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.55);
		
		.header {
			width: 100%;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
			border-bottom: 1px solid var(--gray);
		}

		.list {
			list-style: none;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			gap: 20px;
			padding: 20px;

			li {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}

		.buttons {
			position: relative;
			top: 80px;
			left: 1050px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			width: 130px;
		}
	}
}