.date {
	width: 1404px;
	height: 231px;
	border: 1px solid var(--gray-dark);
	border-radius: 9px;

	.title {
		text-align: center;
		border-bottom: 1px solid var(--gray-dark);
		padding: 10px;
	}

	.dates {
		display: flex;
		justify-content: space-around;
		padding: 20px;

		input {
			width: 426px;
			height: 43px;
			border: none;
			border-radius: 5px;
			color: var(--dark);
			background: var(--gray);
			text-align: center;
		}
	}

	button {
		position: relative;
		left: 1310px;
		top: 40px;	
	}
}